
\.idea/astrodynamics-toolkit\.iml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

\.idea/libraries/R_User_Library\.xml

\.pytest_cache
*.xml

*__pycache__

\src/astrotk/AE4878/*

\src/astrotk/AE4878/.idea/*

\.pytest_cache

\.build